@use "../../app.scss";
.services {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    z-index: 3;
    cursor: default;
    @include app.mobile{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 15px;
        @include app.mobile{
            align-self: flex-end;
            text-align: start;
            flex-direction: column;

        }
        p {
            font-size: 15px;
            font-weight: 400;
            color: gray;
            text-align: right;
            @include app.mobile{
                text-align: right;
                font-size: 13px;
            }
        }

        hr {
            width: 500px;
            border: none;
            border-top: 0.2px solid gray;
            @include app.mobile{
                width: 50%;
                margin-top: -35px;
                margin-left: 500px;
            }
        }
    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        @include app.mobile{
            width: 100%;
            margin-top: -100px;
        }
        .title{
            display: flex;
            align-items: center;
            gap: 40px;
            @include app.mobile{
                flex-direction: column;
                text-align: center;
                gap: 10px;
            }
            img{
                width: 200px;
                height: 80px;
                object-fit: cover;
                border-radius: 50px;
                @include app.mobile{
                    width: 160px;
                    height: 70px;
                }
            }
            h1{
                font-size: 48px;
                font-weight: 100;
            }
            button{
                width: 190px;
                height: 80px;
                border-radius: 50px;
                border: none;
                background-color: orange;
                color: #0c0c1d;
                font-weight: 600;
                @include app.mobile{
                    width: 160px;
                    height: 70px;
                    font-size: 14px;
                }
            }
        }
    }

    .listContainer {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
        flex-wrap: wrap;
        overflow-y: hidden;
        overflow-x: hidden;
        @include app.mobile{
            width: 100%;
            display: flex;
            justify-items: center;
            align-items: center;
        }

        .card {
            background: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 1.5rem;
            margin: 1rem;
            width: 350px;
            text-align: left;
            transition: transform 0.2s;
            @include app.mobile{
                width: 100%;
                transform: none !important;
            }

            &:hover {
                transform: translateY(-10px);
                @include app.mobile{
                    transform: none;
                }
            }

            h3 {
                margin-top: 0;
                font-size: 1.25rem;
                color: #0073e6;
                @include app.mobile{
                    text-align: center;
                }
            }

            p {
                font-size: 0.8rem;
                color: #666;
                @include app.mobile{
                    display: none;
                }
            }
        }
    }
}