@use "../../app/styles.lazy.scss" as m;

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .progress {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 50px;
    color: orange;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(253, 253, 253, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(1px);
    z-index: 10;

    @include m.mobile {
      padding-top: calc(100vh - 100px);
      font-size: 35px;
      background: none;
      box-shadow: none;
      backdrop-filter: none;
      -webkit-backdrop-filter: blur(1px);
      z-index: -1;
    }

    .progressBar {
      height: 8px;
      background-color: white;
      border-radius: 10px;
    }
  }

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 20px;

    @include m.mobile {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: start;
    }

    @include m.tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: start;
    }

    .wrapper {
      max-width: 80%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      @include m.mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px 0px 100px 0;
        gap: 10px;
      }

      @include m.tablet {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 300px 0px 100px 0;
        gap: 10px;
      }
    }

    .imgContainer {
      flex: 1;
      position: relative;
      height: max-content;
      width: max-content;

      @include m.mobile {
        width: 100%;
        max-height: 100%;
      }

      @include m.tablet {
        width: 100%;
        max-height: 100%;
      }

      img {
        border-radius: 10px;
        object-fit: cover;
      }
    }

    .textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include m.mobile {
        transform: none !important;
        height: max-content;
        padding: 1px;
        align-items: start;
        text-align: start;
        gap: 10px;
      }
      h2 {
        font-size: 52px;
        font-weight: bold;
        @include m.mobile {
          font-size: 32px;
        }
      }

      p {
        color: gray;
        font-size: 16px;
        @include m.mobile {
          font-size: 14px;
          text-align: start;
        }
      }

      button {
        background-color: orange;
        color: black;
        border-radius: 10px;
        border: none;
        padding: 10px;
        height: 50px;
        width: 150px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 18px;

        @include m.mobile {
          font-size: 15px;
          height: 45px;
          width: 115px;
          z-index: 999;
        }

        @include m.tablet {
          font-size: 18px;
          height: 5rem;
          width: 10rem;
          z-index: 999;
        }

        .icon {
          font-size: 20px;

          @include m.mobile {
            font-size: 15px;
          }

          @include m.tablet {
            font-size: 20px;
          }
        }
      }
    }
  }
}
