@use "../../app/styles.lazy.scss" as m;;

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;
  z-index: 1;

  .wrapper {
    height: 100%;
    max-width: 70%;
    margin: auto;

    .textContainer {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      @include m.mobile {
        height: 50%;
        width: 100%;
        gap: 10px;
        align-items: self-start;
        text-align: start;
      }
      @include m.tablet {
        height: 50%;
        width: 100%;
        gap: 10px;
        align-items: self-start;
        text-align: start;
      }
    }

    h1 {
      font-size: 50px;
      text-wrap: wrap;

      @include m.mobile {
        font-size: 40px;
      }
    }

    h2 {
      font-size: 30px;
      color: rebeccapurple;
      letter-spacing: 2px;
      font-weight: bold;
      cursor: pointer;

      @include m.mobile {
        font-size: 20px;
      }
    }
    p {
      font-size: 50px;
      color: rebeccapurple;
      @include m.mobile {
        font-size: 29px;
      }
    }

    img {
      width: 40px;
      height: 40px;
      margin-top: 20px;
    }

    .buttons {

      a {
        text-decoration: none;
        cursor: pointer;
        padding: 20px;
        border-radius: 10px;
        background-color: transparent;
        border: 1px solid white;
        margin-right: 20px;
        cursor: pointer;
        font-weight: 300;
        @include m.mobile {
          padding: 10px;
          font-size: 14px;
        }
      }
    }
  }

  .imageContainer {
    height: 80%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    @include m.mobile {
      height: 50%;
      width: 100%;
      margin: 0;
      top: unset;
      bottom: 0;
    }

    @include m.tablet {
      height: 50%;
      width: 100%;
      margin: 0;
      top: unset;
      bottom: 0;
    }
  }

  .slidingText {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
    z-index: -2;
  }
}
