@use "tailwindcss";

body {
  font-family: "DM Sans", Arial, sans-serif;
  max-width: 100%;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", Arial, sans-serif;
  background-color: #0c0c1d;
  color: lightgray;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
  color: lightgray;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  overflow: hidden;
}
