@use "../../app/styles.lazy.scss" as m;;
$primary: #151030;
$secondary: #888;
$white: #fff;
$black-100: #000;

.contact__container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  @media (min-width: 1280px) {
    flex-direction: row;
  }

  @include m.mobile {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    transition: none !important;
  }
}

.contact__canvas-container {
  width: 40%;
  flex: 1;
  height: 100%;

  @include m.mobile {
    height: 100%;
    width: 100%;
    margin-top: -30px;
    overflow: hidden;
  }

  @include m.tablet {
    height: 100%;
    width: 100%;
    margin-top: -30px;
    overflow: hidden;
  }

  @media (min-width: 1280px) {
    height: 100%;
  }
}

.contact__form-container {
  flex: 0.75;
  background-color: transparent;
  padding: 2rem;
  margin-right: 10px;
  border-radius: 1rem;
  width: 60%;
  user-select: none;
  position: relative;
  z-index: 100;
  background: #0c0c1d;

  @include m.mobile {
    margin-bottom: 25px;
    gap: 1rem;
    width: 100%;
    transition: none !important;
  }

  @include m.tablet {
    margin-bottom: 25px;
    gap: 1rem;
    width: 100%;
    transition: none !important;
  }

  .contactSvg {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: auto;
    margin-top: 10%;
    stroke: orange;
    z-index: -1;

    @include m.mobile {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    @include m.tablet {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.contact__header {
  .title {
    color: $white;
    font-weight: 900;
    font-size: 1.875rem;
    background: #0c0c1d;

    @media (min-width: 576px) {
      font-size: 2.5rem;
    }

    @media (min-width: 768px) {
      font-size: 3.75rem;
    }
  }

  .subtitle {
    font-size: 0.875rem;
    width: 100%;
    background: #0c0c1d;
    color: $secondary;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    @media (min-width: 576px) {
      font-size: 1.125rem;
    }
  }
}

.contact__form {
  padding-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #0c0c1d;

  @include m.mobile {
    gap: 1rem;
    width: 100%;
  }

  label {
    display: flex;
    flex-direction: column;

    .label-text {
      color: $white;
      font-weight: 500;
      margin-bottom: 0.75rem;
    }

    input,
    textarea {
      background-color: $primary;
      padding: 0.75rem;
      color: $white;
      border-radius: 0.5rem;
      border: none;
      font-weight: 500;

      &::placeholder {
        color: $secondary;
      }
    }

    textarea {
      @include m.mobile {
        height: 5rem;
      }
    }
  }

  button {
    background-color: $primary;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    outline: none;
    width: fit-content;
    color: $white;
    font-weight: bold;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); // Adjust the shadow as needed
  }
}

.contact__options {
  margin-top: 1.25rem;
  background: #0c0c1d;

  .contact__option {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
      color: rgb(178, 178, 178);
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: $secondary;
      }
    }
  }
}
