@use "../../app/styles.lazy.scss" as m;

.navbar {
  height: 100px;

  .wrapper {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include m.mobile {
      justify-content: flex-end;
    }

    span {
      font-weight: bold;

      @include m.mobile {
        display: none;
      }
    }

    .socials {
      font-size: 20px;
      display: flex;
      gap: 20px;

      .instagram-hover {
        color: #d1d5db; /* default gray or whatever */
        transition: 0.3s;
      }

      .instagram-hover:hover {
        background: linear-gradient(90deg, #f9ce34, #ee2a7b, #6228d7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
