@use "../../app.scss";

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    .bg{
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        bottom: 0;
        width: 330px;
        background: white;
        @include app.mobile{
            width: 60vw;
        }
        .links{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            a{
                color: black;
                font-size: 30px;
                @include app.mobile{
                    font-size: 20px;
                }
            }
        }
    }

    button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        top: 25px;
        left: 35px;
        background-color: transparent;
        border: none;
        z-index: 999;
    }
}